<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.shrikant.mytwitter"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TwitterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_twitter_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="chika.space"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimelineActivity"
            android:label="@string/title_activity_timeline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ComposeActivity"
            android:label="@string/title_activity_compose"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TweetDetailActivity"
            android:label="@string/title_activity_tweet_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
